In [52]:
# 連接到MySQL資料庫 initial
import pandas as pd
import pymysql
import logging
import pymysql.cursors
import random

def random_3(source_list):
    code_list=[]
    while len(code_list)<3:
        a=random.choice(source_list)
        if a not in code_list:
            code_list.append(a)
    return code_list

def connectDB():
    try:
        mysqldb = pymysql.connect(
                host="mysql",
                user="user",
                passwd="user",
                database="project",
                charset='utf8',
                port=3306,
                cursorclass=pymysql.cursors.DictCursor)
        return mysqldb
    except Exception as e:
        logging.error('Fail to connection mysql {}'.format(str(e)))
    return None

In [80]:
#sql_2 = "select * from recom_2 order by id  limit 10"

def insert_recom_3(df):
    db = pymysql.connect(host='mysql', user='user',password='user',
                           database='project',charset="utf8",port=3306)    
    cursor = db.cursor()
    for j in range(3):
        b=[i for i in data.loc[j]]
        print(b[0],b[1],b[2],b[3],b[4],b[5],b[6],b[7],b[8],b[9],b[10])
        sql_1 = "insert into recom_3(Code,companyName,jobName,salary,C,longitude,latitude,Similarity) \
        values( '%s','%s','%s','%s','%s', %s,%s,%s)" % (b[1],b[2],b[3],b[4],b[5],b[6],b[7],b[8])

        try:
            cursor.execute(sql_1) # 执行sql语句
            db.commit() # 提交到数据库执行
            print('success')
        except:
            db.rollback() # 如果发生错误则回滚
            print('error on %s' % j)
    
sql_2 = "select id from recom_2"
data = pd.read_sql(sql_2, db)
a=data['id'].tolist()
id_list=random_3(a)
print(id_list)
sql_2 = "select * from recom_2 where id in ({})".format(id_list).replace('[','').replace(']','')
data = pd.read_sql(sql_2, db)
insert_recom_3(data)

[39, 51, 53]
39 64gun 愛酷智能科技股份有限公司 數位科技顧問 待遇面議 https://www.104.com.tw/job/64gun?jobsource=2018indexpoc 121.548 25.0479 0.192171 None None
success
51 6w82f 超維汽車實業有限公司 TESLA接待人員(授權鈑噴中心 台中) 待遇面議 https://www.104.com.tw/job/6w82f?jobsource=2018indexpoc 120.608 24.1471 0.207088 None None
success
53 6z6vi 立樂高園股份有限公司 業務PM－再生能源開發商(14566) 待遇面議 https://www.104.com.tw/job/6z6vi?jobsource=2018indexpoc 121.511 25.0627 0.182986 None None
success

In [81]:
# select SQL
db = pymysql.connect(host='mysql', user='user',password='user',
                           database='project',charset="utf8",port=3306)

sql_2 = "select * from project.recom_3"
data = pd.read_sql(sql_2, db)
print(data)

   id   Code   companyName               jobName salary  \
0  61  64gun  愛酷智能科技股份有限公司                數位科技顧問   待遇面議
1  62  6w82f    超維汽車實業有限公司  TESLA接待人員(授權鈑噴中心 台中)   待遇面議
2  63  6z6vi    立樂高園股份有限公司   業務PM－再生能源開發商(14566)   待遇面議

                                                   C  longitude  latitude  \
0  https://www.104.com.tw/job/64gun?jobsource=201...    121.548   25.0479
1  https://www.104.com.tw/job/6w82f?jobsource=201...    120.608   24.1471
2  https://www.104.com.tw/job/6z6vi?jobsource=201...    121.511   25.0627

   Similarity DisLike createDate
0    0.192171    None       None
1    0.207088    None       None
2    0.182986    None       None

In [77]:
# insert or delete SQL
cursor = db.cursor()
sql_1 = "delete from recom_3 where id <61"
#insert into recom_1(srno, jobCode, jobName, jobDescription, C) values( %s,'%s','%s','%s','%s')" % (C1,C2,C3,C4,C5)

try:
    cursor.execute(sql_1) # 执行sql语句
    db.commit() # 提交到数据库执行
    print('success')
except:
    db.rollback() # 如果发生错误则回滚
    print('error')

success

In [57]:
# create or drop SQL
cursor = db.cursor()
sql_1="CREATE Table project.recom_3 ( \
	id INTEGER PRIMARY KEY AUTO_INCREMENT, \
	Code VARCHAR(10), \
	companyName TEXT(100), \
	jobName TEXT(100), \
	salary TEXT(100), \
	C VARCHAR(100), \
	longitude Float, \
	latitude Float, \
	Similarity Float, \
	DisLike Bool, \
        createDate DATETIME \
);"
#"drop table project.Login_t"

try:
    cursor.execute(sql_1) # 执行sql语句
    db.commit() # 提交到数据库执行
    print('success')
except:
    db.rollback() # 如果发生错误则回滚
    print('error')

success

In [ ]:
a=[C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11]=[C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11]