In [1]:
# 連接到MySQL資料庫 initial
import pandas as pd
import pymysql
import logging
import pymysql.cursors
import random

def random_3(source_list):
    code_list=[]
    while len(code_list)<3:
        a=random.choice(source_list)
        if a not in code_list:
            code_list.append(a)
    return code_list

def connectDB():
    try:
        mysqldb = pymysql.connect(
                host="mysql",
                user="user",
                passwd="user",
                database="project",
                charset='utf8',
                port=3306,
                cursorclass=pymysql.cursors.DictCursor)
        return mysqldb
    except Exception as e:
        logging.error('Fail to connection mysql {}'.format(str(e)))
    return None

In [80]:
#sql_2 = "select * from recom_2 order by id  limit 10"

def insert_recom_3(df):
    db = pymysql.connect(host='mysql', user='user',password='user',
                           database='project',charset="utf8",port=3306)    
    cursor = db.cursor()
    for j in range(3):
        b=[i for i in data.loc[j]]
        print(b[0],b[1],b[2],b[3],b[4],b[5],b[6],b[7],b[8],b[9],b[10])
        sql_1 = "insert into recom_3(Code,companyName,jobName,salary,C,longitude,latitude,Similarity) \
        values( '%s','%s','%s','%s','%s', %s,%s,%s)" % (b[1],b[2],b[3],b[4],b[5],b[6],b[7],b[8])

        try:
            cursor.execute(sql_1) # 执行sql语句
            db.commit() # 提交到数据库执行
            print('success')
        except:
            db.rollback() # 如果发生错误则回滚
            print('error on %s' % j)
    
sql_2 = "select id from recom_2"
data = pd.read_sql(sql_2, db)
a=data['id'].tolist()
id_list=random_3(a)
print(id_list)
sql_2 = "select * from recom_2 where id in ({})".format(id_list).replace('[','').replace(']','')
data = pd.read_sql(sql_2, db)
insert_recom_3(data)

[39, 51, 53]
39 64gun 愛酷智能科技股份有限公司 數位科技顧問 待遇面議 https://www.104.com.tw/job/64gun?jobsource=2018indexpoc 121.548 25.0479 0.192171 None None
success
51 6w82f 超維汽車實業有限公司 TESLA接待人員(授權鈑噴中心 台中) 待遇面議 https://www.104.com.tw/job/6w82f?jobsource=2018indexpoc 120.608 24.1471 0.207088 None None
success
53 6z6vi 立樂高園股份有限公司 業務PM－再生能源開發商(14566) 待遇面議 https://www.104.com.tw/job/6z6vi?jobsource=2018indexpoc 121.511 25.0627 0.182986 None None
success

In [2]:
# select SQL (tables: line_user_id , )
db = pymysql.connect(host='mysql', user='user',password='user',
                           database='project',charset="utf8",port=3306)

sql_2 = "select * from Login_2 "
data = pd.read_sql(sql_2, db)
print(data)

    USER                                                PSW  \
0      1                                                aaa
1      2                                           test\r\n
2      3                                               死而復活
3      4                                              像極了愛情
4      5                                            拜託了 我求你
5      6                                              像極了愛情
6      7  任何人都可以求憐憫\r\n聖經經節\r\n\r\n羅馬十一32：因為神將眾人都圈在不信從之中...
7      8  任何人都可以求憐憫\r\n聖經經節\r\n\r\n羅馬十一32：因為神將眾人都圈在不信從之中...
8      9  任何人都可以求憐憫\r\n聖經經節\r\n\r\n羅馬十一32：因為神將眾人都圈在不信從之中...
9     10  任何人都可以求憐憫\r\n聖經經節\r\n\r\n羅馬十一32：因為神將眾人都圈在不信從之中...
10    11  Jerry弟兄(以前三會所英語區的負責弟兄) 的近况\r\n 1.他的癌症有擴散,不只在右下...
11    12  中 文 姓 名：沈家妘\r\n英 文 姓 名：Shen, Jia-Yun\r\n出 生 日 ...
12    13  中 文 姓 名：沈家妘\r\n英 文 姓 名：Shen, Jia-Yun\r\n出 生 日 ...
13    14    湯睿綸 Laurent Tang\r\n0919045609 – laurenttang...
14    15    湯睿綸 Laurent Tang\r\n0919045609 – laurenttang...
15    16    湯睿綸 Laurent Tang\r\n0919045609 – laurenttang...
16    17                                                 啊啊
17    18                                                 嗨嗨
18    19                                                 螞蟻
19    20                                                 麻油
20    21                                                  有
21    22  簡玉雯\r\n畢業於嶺東科技大學，2020年3月，開始於緯育Tibame的AI/BIG\r\...
22    23                                                  嗨
23    24    湯睿綸 Laurent Tang\r\n0919045609 – laurenttang...
24    25                                               Dkkk

            createDate
0  2020-09-02 11:12:00
1  2020-09-02 03:25:34
2  2020-09-02 04:35:34
3  2020-09-02 08:35:59
4  2020-09-02 09:02:42
5  2020-09-02 09:09:49
6  2020-09-02 09:15:22
7  2020-09-02 09:24:59
8  2020-09-02 10:01:49
9  2020-09-02 10:12:10
10 2020-09-02 10:17:22
11 2020-09-02 12:11:49
12 2020-09-02 12:16:24
13 2020-09-02 13:27:45
14 2020-09-02 13:31:57
15 2020-09-02 13:40:55
16 2020-09-02 14:06:07
17 2020-09-02 14:24:11
18 2020-09-02 14:36:57
19 2020-09-02 14:38:04
20 2020-09-02 14:41:09
21 2020-09-02 17:15:31
22 2020-09-03 01:54:43
23 2020-09-03 11:16:22
24 2020-09-03 12:39:15

In [77]:
# insert or delete SQL
db=connectDB()
cursor = db.cursor()
sql_1 = "delete from recom_3 where id <61"
#insert into recom_1(srno, jobCode, jobName, jobDescription, C) values( %s,'%s','%s','%s','%s')" % (C1,C2,C3,C4,C5)

try:
    cursor.execute(sql_1) # 执行sql语句
    db.commit() # 提交到数据库执行
    print('success')
except:
    db.rollback() # 如果发生错误则回滚
    print('error')

success

In [6]:
# create or drop SQL
db=connectDB()
cursor = db.cursor()
sql_1="drop table line_user_id"
#"CREATE Table project.line_user_id ( \
#	id INTEGER PRIMARY KEY AUTO_INCREMENT, \
#	`user_id` VARCHAR(50), \
#        createDate DATETIME \
#);"

#"drop table project.Login_t"

try:
    cursor.execute(sql_1) # 执行sql语句
    db.commit() # 提交到数据库执行
    print('success')
except:
    db.rollback() # 如果发生错误则回滚
    print('error')

InterfaceError: (0, '')

In [ ]:
a=[C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11]=[C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11]